site_name: PySwiftKit Wiki
site_url: https://github.com/Py-Swift
repo_url: https://github.com/Py-Swift/PySwiftKit
theme:
  name: material
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode

    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light Mode
  
  features:
    - content.code.copy
    - navigation.expand
    - navigation.path


nav:
  - Home: index.md
  - PSProject:
    - setup-install: setup.md
    - new-project:
      - kivy-project: project/kivy/new-project/create.md
      - cythonized-project: project/kivy/new-project/cythonized-project.md
      - buildozer-integration: project/kivy/new-project/buildozer-integration.md
      - pyproject-configuration: project/kivy/new-project/pyproject-configuration.md
    - pip / site-packages:
      - managing-packages: project/kivy/site-packages.md
      - local-wheels: project/kivy/local-wheels.md
  - Wrapping Swift: 
    #- Types: wrapper_docs/types.md
    - type-casting:
      - standard-types: wrapper_docs/standard_types.md
      - expanded-types: wrapper_docs/expanded_types.md
    - wrapper-examples:  
      - wrapper_examples/hello_world.md
      - wrapper_examples/battery_level.md
      - wrapper_examples/device_info.md
      - wrapper_examples/open_url_classes.md
      - wrapper_examples/open_url_functions.md
      - wrapper_examples/firebase_auth.md
      - wrapper_examples/audio_arpeggiator.md
      - wrapper_examples/uikit_viewcontroller.md
  - Mobile Wheels Support:
    - results: mobile-wheels-support/mobile-wheels-results.md
    - pure-python-packages: mobile-wheels-support/pure-python-packages.md
    - binary-without-mobile: mobile-wheels-support/binary-without-mobile.md
    - excluded-packages: mobile-wheels-support/excluded-packages.md

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
 


plugins:
  - search
  - table-reader
  - mkdocstrings


extra_css:
  - stylesheets/extra.css