site_name: PySwiftKit Wiki
site_url: https://github.com/Py-Swift
repo_url: https://github.com/Py-Swift/PySwiftKit
theme:
  name: material
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode

    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light Mode
  
  features:
    - content.code.copy
    - navigation.expand
    - navigation.path


nav:
  - Home: index.md
  - PSProject:
    - setup-install: setup.md
    - new-project:
      - kivy-project: project/kivy/new-project/create.md
      - cythonized-project: project/kivy/new-project/cythonized-project.md
      - buildozer-integration: project/kivy/new-project/buildozer-integration.md
      - pyproject-configuration: project/kivy/new-project/pyproject-configuration.md
    - pip / site-packages:
      - managing-packages: project/kivy/site-packages.md
      - local-wheels: project/kivy/local-wheels.md
  - Wrapping Swift: 
    #- Types: wrapper_docs/types.md
    - type-casting:
      - standard-types: wrapper_docs/standard_types.md
      - expanded-types: wrapper_docs/expanded_types.md
    - wrapper-examples:  
      - wrapper_examples/hello_world.md
      - wrapper_examples/battery_level.md
      - wrapper_examples/device_info.md
      - wrapper_examples/open_url_classes.md
      - wrapper_examples/open_url_functions.md
      - wrapper_examples/firebase_auth.md
      - wrapper_examples/audio_arpeggiator.md
      - wrapper_examples/uikit_viewcontroller.md
  - Mobile Wheels Support:
    - results: mobile-wheels-support/mobile-wheels-results.md
    - pure-python:
      - index: mobile-wheels-support/pure-python/index.md
      - "0-9":
        - "0": mobile-wheels-support/pure-python/0.md
        - "1": mobile-wheels-support/pure-python/1.md
        - "2": mobile-wheels-support/pure-python/2.md
        - "3": mobile-wheels-support/pure-python/3.md
        - "4": mobile-wheels-support/pure-python/4.md
        - "5": mobile-wheels-support/pure-python/5.md
        - "6": mobile-wheels-support/pure-python/6.md
        - "7": mobile-wheels-support/pure-python/7.md
        - "8": mobile-wheels-support/pure-python/8.md
        - "9": mobile-wheels-support/pure-python/9.md
      - A: mobile-wheels-support/pure-python/A.md
      - B: mobile-wheels-support/pure-python/B.md
      - C: mobile-wheels-support/pure-python/C.md
      - D: mobile-wheels-support/pure-python/D.md
      - E: mobile-wheels-support/pure-python/E.md
      - F: mobile-wheels-support/pure-python/F.md
      - G: mobile-wheels-support/pure-python/G.md
      - H: mobile-wheels-support/pure-python/H.md
      - I: mobile-wheels-support/pure-python/I.md
      - J: mobile-wheels-support/pure-python/J.md
      - K: mobile-wheels-support/pure-python/K.md
      - L: mobile-wheels-support/pure-python/L.md
      - M: mobile-wheels-support/pure-python/M.md
      - N: mobile-wheels-support/pure-python/N.md
      - O: mobile-wheels-support/pure-python/O.md
      - P: mobile-wheels-support/pure-python/P.md
      - Q: mobile-wheels-support/pure-python/Q.md
      - R: mobile-wheels-support/pure-python/R.md
      - S: mobile-wheels-support/pure-python/S.md
      - T: mobile-wheels-support/pure-python/T.md
      - U: mobile-wheels-support/pure-python/U.md
      - V: mobile-wheels-support/pure-python/V.md
      - W: mobile-wheels-support/pure-python/W.md
      - X: mobile-wheels-support/pure-python/X.md
      - Y: mobile-wheels-support/pure-python/Y.md
      - Z: mobile-wheels-support/pure-python/Z.md
    - binary-without-mobile: mobile-wheels-support/binary-without-mobile.md
    - excluded-packages: mobile-wheels-support/excluded-packages.md

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
 


plugins:
  - search
  - table-reader
  - mkdocstrings


extra_css:
  - stylesheets/extra.css