site_name: PySwiftKit Wiki
site_url: https://github.com/Py-Swift
repo_url: https://github.com/Py-Swift/PySwiftKit
theme:
  name: material
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode

    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light Mode
  
  features:
    - content.code.copy
    - navigation.expand
    - navigation.path


nav:
  - Setup: setup.md
  - New Project:
    - kivy-project: project/kivy/create.md
    - pyproject-configuration: project/kivy/pyproject-configuration.md
  - Wrapping Swift: 
    #- Types: wrapper_docs/types.md
    - type-casting: wrapper_docs/other_types.md
    - wrapper-examples:  
      - wrapper_examples/hello_world.md
      - wrapper_examples/battery_level.md
      - wrapper_examples/device_info.md
      - wrapper_examples/firebase_auth.md
      - wrapper_examples/audio_arpeggiator.md

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
 


plugins:
  - search
  - table-reader
  - mkdocstrings


extra_css:
  - stylesheets/extra.css