

.md-typeset code {
  /* color: rgb(255, 0, 0); */
  /* font-family: "PlayFair"; */
  font-size: 1.2em;
}



.md-typeset thead {
  /* color: rgb(255, 255, 0); */
  font-family: "Roboto Mono";
  font-size: 1.2em;
}

.md-typeset tbody {
  color: rgb(255, 255, 0);
  font-family: "Roboto Mono";
  font-size: 1.4em;
  font-weight: bolder;
}


.md-typeset .admonition-title {
  /* color: rgb(255, 255, 0); */
  font-size: 1.2em;
} 

/* 
.md-typeset .admonition,
.md-typeset details {
  font-size: 24px;
} */