

.md-typeset code {
  /* color: rgb(255, 0, 0); */
  /* font-family: "PlayFair"; */
  font-size: 1.2em;
}



.md-typeset thead {
  /* color: rgb(255, 255, 0); */
  font-family: "Roboto Mono";
  font-size: 1.0em;
}

.md-typeset tbody {
  /* color: rgb(255, 255, 0); */
  font-family: "Roboto Mono";
  font-size: 1.0em;
  font-weight: bolder;
}


.md-typeset .admonition-title {
  /* color: rgb(255, 255, 0); */
  font-size: 1.0em;
} 

/* 
.md-typeset .admonition,
.md-typeset details {
  font-size: 24px;
} */


/* Make table of contents narrower */
.md-sidebar--secondary {
  width: 10rem; /* Default is 12.1rem, adjust as needed */
}

/* Optionally reduce TOC font size */
.md-nav--secondary .md-nav__title {
  font-size: 0.7rem;
}

.md-nav--secondary .md-nav__link {
  font-size: 0.7rem;
}